input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}

table {
    border: 1px solid white;
    border-collapse: collapse;
    background-color: #96D4D4;
}