<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to  your Bucket List</h1>
        <div class="links">
            <button type="submit"><a href="/bucket">Incompleted Bucket List</a></button>
            <button type="submit"><a href="/doneBucket">Completed Bucket List</a></button>
            <button type="submit"><a href="/">Log Out</a></button>
        </div>
    </div>
</body>
</html>