<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1>Welcome {{uname}}</h1>
            <p>Welcome {{uname}}, this bucket list is for you to make milestones that you are willing to achieve before the time time comes. You will be able to add new milestones and edit the those milestones. </p>
        <div class="links">
            <button type="submit"><a href="/bucket">My Bucket List</a></button>
            <button type="submit"><a href="/">Log Out</a></button>
        </div>
      
    </div>
</body>
</html>