<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<form action="/login_validation" method="POST">
    <div class="container">
        <h1> LOGINNNNNNNNN</h1>
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <button type="submit" name="save" value="save">LOGIN</button>
        <button type="submit"><a href="/reg">Don't have an account? Register</a></button>
    </div>
</form>


</body>
</html>